.p-input-icon-right > .p-inputtext {
    padding-right: 2.5rem;
    width: 100%;
    height: 38px;
}
.p-password {
    position: relative;
    display: block;
    width: 100%;
}

.disable-btn{
    background-color:#e3e3e3;
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.section {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200%;
    height: auto;
}

.section1{
    width: 100% !important;
}

.p-multiselect-panel{
    width: 43% !important;
    height: auto !important;
}
.disable-btn:hover{
    background-color:#e3e3e3;
}
.button-section {
    
    margin-top: 17%;
    margin-bottom: 10%;
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Optional: Adds space between buttons */
    text-align: left;
    /* margin-left: 100px; */
}

.p-multiselect .p-multiselect-label {
    /* padding: 0rem 0.5rem; */
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.add-btn{
    margin-right: 3px;
}
.billing-date{
    width: 100% !important;
    height: 38px !important
}

.modal-lg .p-multiselect {
    display: flex;
    position: relative;
    width: 100% !important;
    -webkit-user-select: none;
    user-select: none;
    height: 38px !important;
}
.modal-lg .p-multiselect.p-component.p-inputwrapper.w-full.md\:w-20rem {
    width: 100%;
    height: 38px;
}

.modal-lg .p-multiselect {  
    display: flex !important;
    width: 100%; 
}
.modal-lg .p-dropdown {
    display: flex;
    cursor: pointer;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    height: 38px !important;
}

.p-datatable.p-component.p-datatable-responsive-scroll.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    padding: 0.5rem 0.5rem;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: radial-gradient(circle, #0B2B11, #2a6a43);
  }
  .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background: radial-gradient(circle, #0B2B11, #2a6a43);
  }
  /* subscription.css */
.loading-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 18px;
  }
  