/* Grid Container */
.grid-container {
    display: flex;
   
    margin: 10px;
    margin-top: 3px !important;
    /* 12 columns in total */
    gap: 10px;
    
    /* Adjust the gap as needed */
}

.validation-succes{
    font-size: 10px;
    color: green;
    font-style: initial;
    font-weight: 500;
}

.footer-img{
    /* color: #ef6767 !important; */
    font-weight: 400;
}
.content {
    overflow: auto;
    /* Enable scrolling if the image is larger than the container */
    width: 100%;
    /* Ensure the container takes the full width */
    height: 450px;
    /* Set the initial height */
    display: flex;
    /* To center the image vertically */
    align-items: center;
    justify-content: center;
}

img {
    transition: transform 0.3s ease !important;
    /* Add a smooth transition for zooming */
    cursor: pointer !important;
    /* Change the cursor to a pointer on hover */
}


/* Section Styles */
.section {
    padding: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90%;
    height: auto;
}

input.p-inputtext.p-component.ipl-input {
    width: 100% !important;
}

.p-fluid .p-inputtext {
    width: 60px !important;
    padding: 2px 10px !important;
    font-size: 16px;
    border-radius: 3px;
}

.p-col-1,
.p-col-2,
.p-col-3,
.p-col-4,
.p-col-5,
.p-col-6,
.p-col-7,
.p-col-8,
.p-col-9,
.p-col-10,
.p-col-11,
.p-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0rem 0.7rem 0px 0.7rem;
}

.p-fileupload-content {
    height: auto !important;
}

.p-fileupload-row img {
    height: 671px;
    width: 657px;
}

.modal {
    --bs-modal-margin: 0;
}
.modal-content__{
    width: 83% !important;
}
.p-fileupload .p-fileupload-content {
    background: #ffffff;
    padding: 0px !important;
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Content Styles (inside each section) */
.content {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Define the number of columns for each section */
.col4 {
    grid-column: span 4;
    /* Section 1 occupies 4 columns */
}

.col8 {
    grid-column: span 10;
    /* Section 2 occupies 8 columns */
} 
.section_____img{
    width: 30% !important;
    /* height: 620px !important; */
}

.watermark {
    position: absolute;
    inset: 100px !important;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important; /* Ensures the watermark repeats */
    background-size: 100px 100px; /* Adjust size as needed */
    pointer-events: none; /* Prevents interaction */
    opacity: 0.3; /* Adjust transparency */
  }